<h3>Für den Event: <%= @event.name %> registrieren:</h3>
<%= form_for([@event, @registration]) do |f| %>
	<%= render "shared/errors", obj_errors: @registration %>
	<div class="row">
		<div class="medium-2 columns">
			<%= f.label :name %>
		</div>
		<div class="medium-10 columns">
			<%= f.text_field :name %>
		</div>
	</div>

	<div class="row">
		<div class="medium-2 columns">
			<%= f.label :email %>
		</div>
		<div class="medium-10 columns">
			<%= f.text_field :email %>
		</div>
	</div>

	<div class="row">
		<div class="medium-2 columns">
			<%= f.label :how_heard %>
		</div>
		<div class="medium-10 columns">
			<%= f.select :how_heard, Registration::HOW_HEARD_OPTIONS, prompt: "Bitte auswaehlen" %>
		</div>
	</div>

	<div class="row">
		<%= f.submit "Registrieren", class: "button" %>	
	</div>
<% end %>