<h1>Events</h1>
<p>Zeige folgende <%= @events.size %>an:
	<table>
		<tr>
			<th>Name</th>
			<th>Ort</th>
			<th>Preis</th>
			<th>wann</th>
			<th>Beschreibung</th>
		</tr>
		<% @events.each do |event| %>
			<tr>
				<td><%= event.name %></td>
				<td><%= event.location %></td>
				<td><%= number_to_currency(event.price, unit: "€ ") %></td>
				<td><%= event.start_at %></td>
				<td><%= event.description %></td>
			</tr>
		<% end %>
	</table>
</p>