<h1>Events</h1>
<p>Zeige folgende <%= @events.size %> Events an:
	<table width="100%">
		<tr>
			<th>Name</th>
			<th>Ort</th>
			<th>Preis</th>
			<th>wann</th>
			<th>Beschreibung</th>
		</tr>
		<% @events.each do |event| %>
			<tr>
				<td><%= event.name %></td>
				<td><%= event.location %></td>
				<td><%= format_price(event) %></td>
				<td><%= event.start_at %></td>
				<td><%= truncate(event.description, length: 25, separator: ' ') %></td>
			</tr>
		<% end %>
	</table>
</p>