<h1><%= @event.name %></h1>
<p><%= @event.description %></p>
<h3>Wann</h3>
<p><%= @event.start_at %></p>
<h3>Wo</h3>
<p><%= @event.location %></p>
<h3>Preis</h3>
<p><%= format_price(@event) %></p>

<p><%= link_to "Back", events_path %></p>