<h1>Alle Events</h1>
<p><%= link_to "Neuen Event erstellen", new_event_path %></p>
<p>Zeige folgende <%= @events.size %> Events an:
	<table width="100%">
		<tr>
			<th>Name</th>
			<th>Ort</th>
			<th>Preis</th>
			<th>wann</th>
			<th>Beschreibung </th>
			<th>Show</th>
			<th>Edit</th>
			<th>Del</th>
		</tr>
		<% @events.each do |event| %>
			<tr>
				<td><%= event.name %></td>
				<td><%= event.location %></td>
				<td><%= format_price(event) %></td>
				<td><%= event.start_at %></td>
				<td>
					<%= truncate(event.description, length: 25, separator: ' ', omission: "") %>
					<%= link_to "...", event_path(event.id) %>
				</td>
				<td><%= link_to "Show", event_path(event.id) %></td>
				<td><%= link_to "Edit", edit_event_path(event.id) %></td>
				<td><%= link_to "Delete", event_path(event.id), method: :delete, data: {confirm: "Sicher????"} %></td>
			</tr>
		<% end %>
	</table>
</p>