<h1><%= @event.name %></h1>

<div class="panel flash">
	<%= flash[:notice] %>
</div>
<div class="panel">
	<div class="row">
		<div class="medium-3 columns">
			<%= image_for(@event) %>
		</div>
		<div class="medium-9 columns">
			<%= @event.description %>
		</div>
	</div>
</div>

<div class="panel">
	<div class="row">
		<div class="medium-2 columns">
			Wann
		</div>
		<div class="medium-10 columns">
			<%= @event.start_at %>
		</div>
	</div>

	<div class="row">
		<div class="medium-2 columns">
			Wo
		</div>
		<div class="medium-10 columns">
			<%= @event.location %>
		</div>
	</div>
	<div class="row">
		<div class="medium-2 columns">
			Preis
		</div>
		<div class="medium-10 columns">
			<%= format_price @event %>
		</div>
	</div>
</div>


<p>
	<%= link_to "Back", events_path %><br />
	<%= link_to "Regisiterierungen", event_registrations_path(@event.id) %>
</p>